<p id="notice"><%= notice %></p>

<h1>Tag Categories</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_categories.each do |tag_category| %>
      <tr>
        <td><%= tag_category.name %></td>
        <td><%= link_to 'Show', tag_category %></td>
        <td><%= link_to 'Edit', edit_tag_category_path(tag_category) %></td>
        <td><%= link_to 'Destroy', tag_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

















<div class="dropdown drop-hover">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
    食材を選択
  </button>

  <ul class = "dropdown-menu">
    <% @parents.each do |parent| %>
    <li class="dropright drop-hover"><%= link_to tag_categories_path do %>
      <%= parent.name %>
      <% end %>
      <ul class="dropdown-menu">
        <% parent.children.each do |child| %>
        <li class="dropright drop-hover"><%= link_to tag_categories_path do %>
          <%= child.name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<style>
.drop-hover:hover > .dropdown-menu {
  display: block !important;
}
</style>



<br>

<%= link_to 'New Tag Category', new_tag_category_path %>
