<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <tbody>
    <% @array = {} %>

    <% @posts.each_with_index do |post, id| %>
    <div class="box_style">
      <%= content_tag :div, id: "box_#{id}" do %>
        <tr>
          <td><%= link_to "#{post.name}", post_path(post) %></td><br>
          <td>
            <% post.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if @posts[id + 1].present? %>
        <% array1 = post.tags.pluck(:name) %>
        <% array2 = @posts[id + 1].tags.pluck(:name) %>
        <% a = array1.concat(array2) %>
        <% b = a.uniq %>
        <% if a.length != b.length %>
          <% match = true %>
        <% else %>
          <% match = false %>
        <% end %>
        <% @array[id] = match %>
      <% end %>

      <%= javascript_tag do %>
        var data = <%= @array.to_json.html_safe %>
      <% end %>
    </div>

    <% end %>

  </tbody>

<br>

<%= link_to 'New Post', new_post_path %>
