<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to "#{@post.name}", @post.url, target: :_blank %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @post.memo %>
</p>

<p>
  <%= image_tag @post.image.url if @post.image.present? %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path, data: {"turbolinks" => false} %>
